.textmain{
    padding: 126px 160px;
    background: #1C1E53;
    display: flex;
    justify-content: space-between;
    background-blend-mode: normal;
}
.cont1{
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}
.cont1_1{
    display: flex;
    flex-direction: column;
    row-gap: 24px;

}
.cont1_2{
    display: flex;
    column-gap: 10px;
}

.text1{
    font-size: 54px;
    font-weight: 600;
    color: #fff;
}
.text2{
    font-size: 16px;
    font-weight: 400;
    color: #9393ad;

}
.btn1 > a{
    padding: 16px 56px;
    border-radius: 41px;
    background: #FCD980;
    font-size: 18px;
    font-weight: 600;
    color: #1B1C2B;
}
.btn2 > a{
    padding: 16px 56px;
    border-radius: 41px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border: 2px solid rgb(244, 246, 252, 0.2);

}
@media (max-width: 830px) {
    .textmain{
       padding: 25px 25px;
    }
    .cont1_2{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    .cont2 img{
        width: 370px;
        height: auto;
    }
    .card1{
        display: block;
    }
}

@media (max-width: 1200px) {
    .textmain{
        display: flex;
        flex-direction: column-reverse;
        row-gap: 15px;
        align-items: center;
    }
    

}
